<!-- banner-area -->
<section class="banner__area banner__padding">
    <div class="banner__bg tg-jarallax" data-background="{{site.url}}/assets/img/slider/banner_bg.jpg"></div>
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="banner__content slider__content text-center">
                    <h2 class="title wow bounceInLeft" data-wow-delay=".2s">steaming</h2>
                    <p class="wow bounceInLeft" data-wow-delay=".4s">video games online</p>
                    <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s">
                        <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                            <div class="svg-icon" id="svg-1" data-svg-icon="{{site.url}}/assets/img/icons/shape.svg"></div>
                            <span>contact us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->