<!-- brand-area -->
<section class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand__title text-center">
                    <h2 class="title">they trust us</h2>
                </div>
            </div>
        </div>
        <div class="row brand-active">
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand01.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand02.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand03.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand04.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand05.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand06.png" alt="brand"></a>
                </div>
            </div>
            <div class="col">
                <div class="brand__item">
                    <a href="#" class="brand__link"><img src="{{site.url}}/assets/img/brand/brand07.png" alt="brand"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- brand-area-end -->