<style>
    #cookie-notice {padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% ); background: #222; color: rgba(255,255,255,0.8); z-index: 2;}
    #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice">
    <div>
    <span>WE WOULD LIKE TO USE THIRD PARTY COOKIES AND SCRIPTS TO IMPROVE THE FUNCTIONALITY OF THIS WEBSITE.</span>
    </div>
    <div>
        <a id="cookie-notice-accept" class="btn btn-primary btn-sm">APPROVE</a>
        <a id="cookie-notice-reject" class="btn btn-primary btn-sm">REJECT</a>
        <a id="cookie-notice-moreinfo" href="{{site.privacy_policy}}" class="btn btn-primary btn-sm">MORE INFO</a>
    </div>
    
</div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    moreinfo_btn = document.getElementById('cookie-notice-moreinfo')
    if (location.href.includes('privacy_policy')) {
        moreinfo_btn.style.display = 'none';
    }

    console.log(location.href)

    if(readCookie('cookie-notice-accepted')=='true') {
        var ms_clarity = document.createElement("script");
        ms_clarity.setAttribute("type", "text/javascript");
        ms_clarity.text = '(function(c,l,a,r,i,t,y){ \n'+
        'c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)}; \n'+
        't=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i; \n'+
        'y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y); \n'+
    '})(window, document, "clarity", "script", "m3ouw3z5o9");';
        document.head.appendChild(ms_clarity);
    }
    else if (readCookie('cookie-notice-rejected')=='true')
    {
        document.getElementById('cookie-notice').style.display = 'none';
    } 
    else {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-accepted','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
        location.href="index.html";
    });

    document.getElementById('cookie-notice-reject').addEventListener("click",function() {
        document.getElementById('cookie-notice').style.display = 'none';
        createCookie('cookie-notice-rejected','true',31);
        location.href="index.html";
    });

</script>
