
    <!-- footer-area-start -->
    <footer class="footer-style-two has-footer-animation">
        <div class="copyright__wrap -style-two">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="copyright__text text-center text-lg-start">
                            <p>Copyright © 2024 - All Rights Reserved By <span><a href="https://www.hectiq.games">Hectiq</a></span></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright__menu">
                            <ul class="list-wrap d-flex flex-wrap justify-content-center justify-content-lg-end">
                                <li><a href="{{site.url}}/privacy_policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-start-end -->