<footer class="footer-style-one">
  <div class="footer__top-wrap">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7">
          <div class="footer-widget">
            
            <div class="footer-logo logo">
                <a href="{{site.hectiq_url}}"><img src="{{site.hectiq_logo_url}}" alt="HECTIQ LOGO" /></a>
              </div>
            <div class="footer-text">
              <div class="footer-social">
                <div>
                  <a href="{{site.twitter_url}}">
                    <img class="social-icon-small" src="{{site.url}}/assets/images/icons/icons8-twitterx-48.png" alt="iocn" />
                  </a>
                </div>
                <div>
                  <a href="{{site.facebook_url}}">
                    <img class="social-icon-small" src="{{site.url}}/assets/images/icons/facebook.png" alt="iocn" />
                  </a>
                </div>
                <div>
                  <a href="{{site.youtube_url}}">
                    <img class="social-icon-small" src="{{site.url}}/assets/images/icons/youtube.png" alt="iocn" />
                  </a>
                </div>
                <div>
                  <a href="{{site.instagram_url}}">
                    <img class="social-icon-small" src="{{site.url}}/assets/images/icons/instagram.png" alt="iocn" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-7"></div>
        <div class="col-xl-4 col-lg-5 col-md-7">
          <div class="footer-widget">
            <h4 class="fw-title">NEWSLETTER</h4>
            <div class="footer-newsletter">
                <img class="newsletter_footer_button" id="newsletterBtn" src="{{site.url}}/assets/images/buttons/CallToActionButton_Subscribe.png" alt="Button"></img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright__wrap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="copyright__text">
            <p>
              Copyright © 2024 - All Rights Reserved By <span><a href="https://www.hectiq.games">Hectiq</a></span>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="copyright__menu">
            <ul class="list-wrap d-flex flex-wrap justify-content-center justify-content-lg-end">
              <li><a href="{{site.url}}/privacy_policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
