<!-- banner-area -->
<section class="banner__area banner__padding">
  <div class="banner__bg tg-jarallax" data-background="{{site.url}}/assets/images/artworks/hectiq_main_artwork.jpg"></div>
  <div class="container custom-container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="banner__content slider__content text-center">
          <h2 class="title wow bounceInLeft" data-wow-delay=".1s">Los Pingheros</h2>
          <p class="wow bounceInLeft" data-wow-delay=".2s">Fun and Snow in Mexico</p>
          <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s"></div>
        </div>
      </div>
    </div>
    <div class="row mt-120">
    <div class="row justify-content-center gutter-30 row-cols-1 row-cols-md-4 row-cols-sm-3 mt-60">
        <div class="col">
            <div class="grand__final-button">
                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                    <img class="svg-icon" src="{{site.url}}/assets/images/buttons/Bouton_Normal.png"></img>
                    <span class="btn-txt underlay-effect">Wishlist On Steam</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-20">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section__title text-center mt-20">
            <h4 class="small-title underlay-effect">Subscribe</h4>
            <form action="#" class="offCanvas__newsletter-form">
              <input type="email" placeholder="GET NEWS AND UPDATES" />
              <button type="submit"><i class="flaticon-send"></i></button>
            </form>
          </div>
        </div>
      </div>
    <div class="row  justify-content-center gutter-20 row-cols-2 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 mt-60">
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-facebook"></i>
            <span class="underlay-effect">facebook</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-twitter"></i>
            <span class="underlay-effect">twitter</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-instagram"></i>
            <span class="underlay-effect">instagram</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-youtube"></i>
            <span class="underlay-effect">youtube</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-discord"></i>
            <span class="underlay-effect">discord</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-twitch"></i>
            <span class="underlay-effect">twitch</span>
          </a>
        </div>
      </div>
    </div>
</div>
    
    
  </div>
</section>
<!-- banner-area-end -->
