<!-- banner-area -->
<section class="banner__area banner__padding">
  <div class="banner__bg tg-jarallax" data-background="{{site.url}}/assets/img/slider/banner_bg.jpg"></div>
  <div class="container custom-container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="banner__content slider__content text-center">
          <h2 class="title wow bounceInLeft" data-wow-delay=".2s">steaming</h2>
          <p class="wow bounceInLeft" data-wow-delay=".4s">video games online</p>
          <div class="banner__btn wow bounceInLeft" data-wow-delay=".6s"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row  mt-230">
    <div class="row justify-content-center gutter-30 row-cols-1 row-cols-md-4 row-cols-sm-3 mt-60">
        <div class="col">
            <div class="grand__final-button">
                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                    <div class="svg-icon" id="svg-5" data-svg-icon="{{site.url}}/assets/img/icons/shape.svg"></div>
                    <span>read more</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="grand__final-button">
                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                    <div class="svg-icon" id="svg-5" data-svg-icon="{{site.url}}/assets/img/icons/shape.svg"></div>
                    <span>Wishlist On Steam</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="grand__final-button">
                <a href="contact.html" class="tg-btn-3 tg-svg mx-auto">
                    <div class="svg-icon" id="svg-5" data-svg-icon="{{site.url}}/assets/img/icons/shape.svg"></div>
                    <span>read more</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-20">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section__title text-center mt-20">
            <h4 class="small-title">Subscribe</h4>
            <form action="#" class="offCanvas__newsletter-form">
              <input type="email" placeholder="Get News & Updates" />
              <button type="submit"><i class="flaticon-send"></i></button>
            </form>
          </div>
        </div>
      </div>
    <div class="row justify-content-center gutter-30 row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3  mt-60">
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-facebook"></i>
            <span>facebook</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-twitter"></i>
            <span>twitter</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-instagram"></i>
            <span>instagram</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-youtube"></i>
            <span>youtube</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-discord"></i>
            <span>discord</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="social__item">
          <a href="#">
            <i class="flaticon-twitch"></i>
            <span>twitch</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
              <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
            </svg>
          </a>
        </div>
      </div>
    </div>
</div>
    
    
  </div>
</section>
<!-- banner-area-end -->
