<!-- banner-area -->
<section class="banner__area banner__padding">
  <div class="banner__bg tg-jarallax" data-background="{{site.keyart_url}}"></div>
  <div class="container custom-container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="banner__content slider__content text-center">
          <img class="banner_logo title wow bounceInLeft" src="{{site.url}}/assets/images/logos/Los_Pingheros_Logo.png" alt="Los Pignheros Logo" data-wow-delay=".1s"></img>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="row justify-content-center ">
        <div class="col">
          <div class="section__title text-center mt-20">
            <div class="wishlist-centered">
              <iframe title= 'Wishlist On Steam' class="iframe-whishlist" src="https://store.steampowered.com/widget/2418600/" frameborder="0" height="1000" width="1000"></iframe>
            </div>
          </div>
            <div class="grand__final-button">
              <a href="#" class="steam_button mx-auto">
                <img class="watch_trailer" id="trailerBtn" src="{{site.url}}/assets/images/buttons/Button_WatchTheTrailer.png" alt="Button"/>
              </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-10">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section__title text-center mt-20">
            {% include trailer.html %} 
          </div>
          <div class="section__title text-center mt-20">
            <div id="newsletter_modalPage" class="modalFullScreen justify-content-center">
              <!-- Modal content -->
              <div class="newsletter-modal-content">
                <div class="iframe-full close-button-container">
                  <span id="newsletter-close-button" class="newsletter-close-button">×</span>
                </div>
                {% include newsletter.html %} 
              </div>
          </div>
          
          </div>
        </div>
      </div>
</div>
    
    
  </div>
</section>
<!-- banner-area-end -->
