<!-- project-area -->
<section class="project-area project-bg section-pt-120 section-pb-140">
    <div class="container custom-container">
        <div class="project__wrapper">
            <div class="section__title text-start">
                <h3 class="title">PROJECTS MYKD</h3>
                <span class="sub-title tg__animate-text">our LATEST gallery</span>
            </div>
            <div class="swiper-container project-active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_01.jpg" class="popup-image"><img src="assets/img/gallery/project_01.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_02.jpg" class="popup-image"><img src="assets/img/gallery/project_02.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_03.jpg" class="popup-image"><img src="assets/img/gallery/project_03.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_04.jpg" class="popup-image"><img src="assets/img/gallery/project_04.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_05.jpg" class="popup-image"><img src="assets/img/gallery/project_05.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_06.jpg" class="popup-image"><img src="assets/img/gallery/project_06.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_07.jpg" class="popup-image"><img src="assets/img/gallery/project_07.jpg" alt="img"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="project__item">
                            <a href="assets/img/gallery/project_08.jpg" class="popup-image"><img src="assets/img/gallery/project_08.jpg" alt="img"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-button-prev">
                <i class="flaticon-right-arrow"></i>
                <i class="flaticon-right-arrow"></i>
            </div>
        </div>
    </div>
    <!-- scrollbar -->
    <div class="swiper-scrollbar"></div>
</section>
<!-- project-area-end -->