<!-- roadMap-area -->
        <section class="roadMap__area roadMap-bg section-pt-150 section-pb-150" data-background="assets/img/bg/roadmap_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="roadMap__inner">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="roadMap__content">
                                        <h2 class="title">a look into roadmaps seasons</h2>
                                        <p>With Season 1 Ending with our play and Duis elementum sollicitudin is yaugue euismods Nulla ulla Player-focused updates games from Mobile App and Enjoy.</p>
                                        <a href="contact.html" class="tg-btn-1 -btn-yellow"><span>roadmap</span></a>
                                    </div>
                                    <div class="roadMap__img">
                                        <img src="assets/img/others/roadmap.png" class="tg-parallax" data-scale="1.5" data-orientation="down" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-6">
                                    <div class="roadMap__steps-wrap">
                                        <div class="roadMap__steps-item active">
                                            <h3 class="title">season 1</h3>
                                            <ul class="roadMap__list list-wrap">
                                                <li class="active tg__animate-text style2">Battle Practice Mode</li>
                                                <li class="active tg__animate-text style2">Android Mobile</li>
                                                <li class="active tg__animate-text style2">iOS Open Beta</li>
                                                <li class="active tg__animate-text style2">Land Creation & Building</li>
                                            </ul>
                                            <img src="assets/img/others/roadmap_img.png" alt="img" class="roadMap__steps-img">
                                        </div>
                                        <div class="roadMap__steps-item">
                                            <h3 class="title">season 2</h3>
                                            <ul class="roadMap__list list-wrap">
                                                <li class="active tg__animate-text style2">Land Creation & Building</li>
                                                <li class="active tg__animate-text style2">Android Mobile</li>
                                                <li class="tg__animate-text style2">iOS Open Beta</li>
                                                <li class="tg__animate-text style2">Land Creation & Building</li>
                                            </ul>
                                            <img src="assets/img/others/roadmap_img.png" alt="img" class="roadMap__steps-img">
                                        </div>
                                        <div class="roadMap__steps-item">
                                            <h3 class="title">season 3</h3>
                                            <ul class="roadMap__list list-wrap">
                                                <li class="tg__animate-text style2">Switch to 3D gameplay</li>
                                                <li class="tg__animate-text style2">Android Mobile</li>
                                                <li class="tg__animate-text style2">iOS Open Beta</li>
                                                <li class="tg__animate-text style2">Land Creation & Building</li>
                                            </ul>
                                            <img src="assets/img/others/roadmap_img.png" alt="img" class="roadMap__steps-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- roadMap-area-end -->