<!-- gallery-area -->
<section class="gallery__area fix default_bg">
  <div class="gallery__slider mt-50 ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-11">
          <div class="swiper-container gallery-active ">
            <div class="swiper-wrapper">
                {% for screenshot in site.screenshots %}
                    {% include blocks/screenshot_item.html img_link=screenshot.img_link%}
                {% endfor %}
            </div>
            <!-- scrollbar -->
            <div class="swiper-scrollbar  mb-20 "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- gallery-area-end -->
