
        <!-- social-area -->
        <section class="social__area social-bg" data-background="{{site.url}}/assets/img/bg/social_bg.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <span class="sub-title tg__animate-text">connect with us</span>
                            <h3 class="title">stay connected</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gutter-20 row-cols-2 row-cols-lg-6 row-cols-md-4 row-cols-sm-3">
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-facebook"></i>
                                <span>facebook</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-twitter"></i>
                                <span>twitter</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                                <span>instagram</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-youtube"></i>
                                <span>youtube</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-discord"></i>
                                <span>discord</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social__item">
                            <a href="#">
                                <i class="flaticon-twitch"></i>
                                <span>twitch</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="65" height="5" viewBox="0 0 65 5">
                                    <path d="M968,5630h65l-4,5H972Z" transform="translate(-968 -5630)" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- social-area-end -->