<div class="row  justify-content-center gutter-20 row-cols-2 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 mt-60">
  <div class="col">
    <div class="social__item facebook">
      <a href="{{site.facebook_url}}">
        <i class="flaticon-facebook"></i>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="social__item twitter">
      <a href="{{site.twitter_url}}">
        <i class="flaticon-twitter"></i>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="social__item instagram">
      <a href="{{site.instagram_url}}">
        <i class="flaticon-instagram"></i>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="social__item youtube">
      <a href="{{site.youtube_url}}">
        <i class="flaticon-youtube"></i>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="social__item discord">
      <a href="{{site.discord_url}}">
        <i class="flaticon-discord"></i>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="social__item twitch">
      <a href="{{site.twitch_url}}">
        <i class="flaticon-twitch"></i>
      </a>
    </div>
  </div>
</div>