<!-- The Modal -->
<div id="trailer_modalPage" class="modalFullScreen">
    <!-- Modal content -->
    <div class="trailer-modal-content">
        <div class="iframe-full close-button-container">
            <span id="trailer-close-button" class="iframe-full-close-button trailer">×</span>
        </div>
        <iframe class="iframe-full" id="trailer_frame_video" width="560" height="600" src="https://www.youtube.com/embed/3qDHh7e3d48?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </div>
    
</div>