<!-- upcoming-match -->
<section class="upcoming-match__area section-pt-120 section-pb-85" data-background="{{site.url}}/assets/img/bg/match_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section__title text-center mb-60">
                    <span class="sub-title tg__animate-text">MATCHES list</span>
                    <h3 class="title">upcoming MATCHES</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="upcoming-match__lists">
                    <div class="upcoming-match__item tg-svg wow fadeInUp" data-wow-delay=".2s">
                        <div class="svg-icon" id="svg-7" data-svg-icon="{{site.url}}/assets/img/icons/match.svg"></div>
                        <div class="upcoming-match__position">
                            <div class="upcoming-match__team team-left">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs01.png" alt="img"></a>
                            </div>
                            <div class="upcoming-match__content">
                                <div class="team--info info-left">
                                    <span class="game-name">dota2</span>
                                    <h3 class="name"><a href="team-details.html">sky hunter</a></h3>
                                </div>
                                <div class="upcoming-match__time">
                                    <h2 class="time">08:30</h2>
                                </div>
                                <div class="team--info info-right">
                                    <span class="game-name">dota2</span>
                                    <h3 class="name"><a href="team-details.html">The Tadium</a></h3>
                                </div>
                            </div>
                            <div class="upcoming-match__team team-right">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs02.png" alt="img"></a>
                            </div>
                        </div>
                        <div class="upcoming-match__date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="287" height="24" viewBox="0 0 287 24">
                                <path id="bottom-svg1" d="M1104,3760l-20,24H837l-20-24" transform="translate(-817 -3760)" />
                            </svg>
                            <span>October 7, 2023, 8:30 pm</span>
                        </div>
                    </div>
                    <div class="upcoming-match__item tg-svg wow fadeInUp" data-wow-delay=".4s">
                        <div class="svg-icon" id="svg-8" data-svg-icon="{{site.url}}/assets/img/icons/match.svg"></div>
                        <div class="upcoming-match__position">
                            <div class="upcoming-match__team team-left">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs03.png" alt="img"></a>
                            </div>
                            <div class="upcoming-match__content">
                                <div class="team--info info-left">
                                    <span class="game-name">valorant</span>
                                    <h3 class="name"><a href="team-details.html">killer 7</a></h3>
                                </div>
                                <div class="upcoming-match__time">
                                    <h2 class="time">05:30</h2>
                                </div>
                                <div class="team--info info-right">
                                    <span class="game-name">valorant</span>
                                    <h3 class="name"><a href="team-details.html">Black mx</a></h3>
                                </div>
                            </div>
                            <div class="upcoming-match__team team-right">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs04.png" alt="img"></a>
                            </div>
                        </div>
                        <div class="upcoming-match__date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="287" height="24" viewBox="0 0 287 24">
                                <path id="bottom-svg2" d="M1104,3760l-20,24H837l-20-24" transform="translate(-817 -3760)" />
                            </svg>
                            <span>October 9, 2023, 5:30 pm</span>
                        </div>
                    </div>
                    <div class="upcoming-match__item tg-svg wow fadeInUp" data-wow-delay=".6s">
                        <div class="svg-icon" id="svg-9" data-svg-icon="{{site.url}}/assets/img/icons/match.svg"></div>
                        <div class="upcoming-match__position">
                            <div class="upcoming-match__team team-left">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs05.png" alt="img"></a>
                            </div>
                            <div class="upcoming-match__content">
                                <div class="team--info info-left">
                                    <span class="game-name">PUBG PC</span>
                                    <h3 class="name"><a href="team-details.html">killer 7</a></h3>
                                </div>
                                <div class="upcoming-match__time">
                                    <h2 class="time">09:30</h2>
                                </div>
                                <div class="team--info info-right">
                                    <span class="game-name">PUBG PC</span>
                                    <h3 class="name"><a href="team-details.html">Black mx</a></h3>
                                </div>
                            </div>
                            <div class="upcoming-match__team team-right">
                                <a href="team-details.html"><img src="{{site.url}}/assets/img/others/team_vs06.png" alt="img"></a>
                            </div>
                        </div>
                        <div class="upcoming-match__date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="287" height="24" viewBox="0 0 287 24">
                                <path id="bottom-svg3" d="M1104,3760l-20,24H837l-20-24" transform="translate(-817 -3760)" />
                            </svg>
                            <span>October 10, 2023, 9:30 pm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming-match-end -->
